# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environnements virtuels
venv/
env/
.venv/

# Fichiers générés
data/historique.json
logs/alertes.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
